.landing {
    background-image: url(../../static/assets/images/landing/dock-1365387_1920.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 82px);
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;

    .content-wrapper{
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
}