.about-body-wrapper {
    width: 100vw;
    

    .bio-wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .heading-wrapper {
            width: 100vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        
        h2{
            color: $blue;
        }
        h3{
            background-color: $darkaccent;
            color: $background;
            padding: 10px;
            border-radius: 5px;
        }
    }

        .bio-content {
            height: 100%;
           padding: 100px;
           color: $background;
           background-color: $darkaccent;

           .bottom-links {
               margin-top: 150px;
               display: flex;
               justify-content: center;

               a{
                   font-size:1.3em;
                   text-decoration: none;
                   color: $green;
                   transition: 0.2s ease-in-out;

               }
             a:hover{ 
                color: $background;
             }
           }
        }
    }
}