.about-body-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-content {
        width: 65vw;
        border-top: 1px solid $lightaccent;
        padding-top: 50px;
    .about-grid-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 100px;
        margin-bottom: 50px;
        h2 {
            color: $blue;
        }
        .about__bio p {
            line-height: 1.5rem;
            color: $darkaccent;
            border: 1px solid $green;
            padding: 20px;
        }

        .image-wrapper-programming {
            background-image: url("../../static/assets/images/about/about-programming.jpg");
            background-size: cover;
            background-position: top;
            border-radius: 50px;
            box-shadow: 5px 5px 15px 2px rgba(0,34,85,0.42);
        }

        .image-wrapper-hobbies {
            background-image: url("../../static/assets/images/about/about-image-sports.jpg");
            background-size: cover;
            background-position: center;
            border-radius: 50px;
            box-shadow: 5px 5px 15px 2px rgba(0,34,85,0.42);
        }
    }



    .about__technology {

        .technology__title {
            color: $blue;
            text-align: center;
        }
        .technology__icons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 25px;
            justify-items: center;
            padding-bottom: 50px;
            border-bottom: 1px solid $lightaccent;
            svg {
                font-size: 3em;
            }
            .js {
                color: #f7df1e;
            }
            .react {
                color: #61dbfb;
            }
            .node {
                color: #68A063
            }
            .npm {
                color: #CC3534;
            }
            .html {
               color: #990000;
            }
            .css {
               color: #0645ad
            }
            .git {
                color: #3e2c00;
            }
        }

    }

  }

}