.auth-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);

    .left-column {
        background-size: cover;

    }
    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background;
    }
}

.login-form {
    @include input-element();
    .login-header {
        color: $blue;
    }

    .login-error {
        color: $warning;
        margin-bottom: 50px;
    }

    .input-group {
        display: flex;

        svg {
            font-size: 1.8em;
            color: $green;
            margin-right: 15px;
        }
    }
}