@media (max-width: 768px) {
    .portfolio-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    
        .portfolio-item-wrapper {
            position: relative;
    
            .portfolio-img-background{
                transition: 1s;
                filter: brightness(25%);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 400px;
                width: 100%;
            }
    
            .img-text-wrapper {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                text-align: center;
                .subtitle {
                    transition: 1s ease-in-out;
                    color: transparent;
                }

                .logo__replacement-text {
                    color: $background;
                }
            }
            .img-text-wrapper .subtitle {
                color: $background;
                font-weight: 400;
            }
    
            .logo-wrapper img {
                margin-bottom: 20px;
            } 
        }
    }




.contact-body-wrapper {
    margin-top: 25px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;

    .contact-img-wrapper {
        display: none;
    }

    .contact-info-wrapper {
        grid-row: 1;
        .email-wrapper {
            .icon-wrapper__location-email {
                font-size: 1em;
            }
        .contact-email{ 
            font-size: 0.8em;
        }
    }

        .city-wrapper{
            .icon-wrapper__location-email {
                font-size: 1em;
            }
            .contact-city {
                    font-size: 0.8em;
            }
        }
}

}

.about-body-wrapper {
        
  .bio-wrapper {
            
    .heading-wrapper {
        display: flex;
        align-items: center;
    }

    .bio-content {
       overflow-y: scroll;
       overflow-x: hidden;
       padding: 5px;
       color: $background;
       background-color: $darkaccent;
    }
  }
}



.blog-container {
    .content-container{
        width: 200px;
        border-right: 5px solid $green;
        border-left: 5px solid $green;
        padding-right: 10px;
        padding-left: 10px
    }    
  }


.featured-app {
    .featured-app__heading-wrapper {
        .featured-app__heading {
            font-size: 1em;
        }
    }
    .featured-app__title-wrapper {
        .featured-app__title {
            font-size: 1em;
        }

    }
}

.nav-wrapper {
    height: 50px;
    padding: 0px;
    align-items: flex-start;
    .hamburger-menu {
        height: 100%;
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $darkaccent;
        font-size: 1.2em;
        transition: all 0.2s ease-in-out;
    }

    .right-side {
        align-self: center;
        width: 100%;
        display: flex;
        align-content: center;
        .nav-wrapper__logo {
            width: 20px;
        }

        div {
            font-size: .6em;
        }

        .resume-link {
            margin-left: 0px;
        }
    }
    .left-side {
        overflow-y: visible;
        width: 70vw;
        height: 100vh;
        background-color: black;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 5;
        overflow-y: visible;
        padding-top: 20px;
        .hamburger-menu__exit {
            display: contents;
            color: $lightaccent;
        }

        .nav-link-wrapper{
            height: 20px;
            color: $lightaccent;
            margin-right: 8px;
            margin-top: 20px;

            a {
                color: $lightaccent;
            }
        }
    }
}
}