@media (max-width: 615px) {
    .portfolio-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    
        .portfolio-item-wrapper {
            position: relative;
    
            .portfolio-img-background{
                transition: 1s;
                filter: brightness(25%);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 400px;
                width: 100%;
            }
    
            .img-text-wrapper {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                text-align: center;
                .subtitle {
                    transition: 1s ease-in-out;
                    color: transparent;
                }
            }
            .img-text-wrapper .subtitle {
                color: $background;
                font-weight: 400;
            }
    
            .logo-wrapper img {
                margin-bottom: 20px;
            } 
        }
    }




.contact-body-wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;

    .contact-info-wrapper {
        grid-row: 1;
    }

}

.about-body-wrapper {
        
  .bio-wrapper {
            
    .heading-wrapper {
        display: flex;
        align-items: center;
    }

    .bio-content {
        height: 100%;
       padding: 30px;
       color: $background;
       background-color: $darkaccent;
    }
  }
}



.blog-container {
    .content-container{
        height: 100vh;
        width: 200px;
        border-right: 5px solid $green;
        border-left: 5px solid $green;
        padding-right: 10px;
        padding-left: 10px
    }    
  }

.nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .right-side {
        width: 100%;
        display: flex;
        flex-direction: column;

        div {
            text-align: center;
        }

        .resume-link {
            margin-left: 0px;
        }
    }
    .nav-link-wrapper{
        margin-right: 8px;
}
}
}