.DraftEditor-root {
    background-color: $background;
    color: $darkaccent;
    border: 1px solid $green;
    border-radius: 3px;
    padding: 20px;
    
}

.rdw-editor-toolbar {
    background-color: $background;
}

.rdw-image-modal {
    left: -213px;
}

.rdw-emoji-modal {
    left: -168px;
}

.rdw-embedded-modal {
    left: -122px;
}

