.DraftEditor-root {
    background-color: $background;
    color: $darkaccent;
    border: 1px solid $green;
    border-radius: 3px;
    padding: 20px;
    
}

.rdw-editor-toolbar {
    background-color: $background;
}